body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:cursive ;
  font-weight: bolder;
  color: black;
  background-color:antiquewhite;
}
.container{
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.main{
  letter-spacing: 10px;
   font-family:'Fraunces', serif ; 
}
.main2{
  font-size: x-large;
  color: black;
  display: block;
  font-family: 'Fraunces', serif;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 124px;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
}
.card img{
  height: 420px;
  width:300px;
  border-radius: 20px 0px 0px 20px;
}
.content{
  height: 400px;
  width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
}

p{
  font-size: 14px;
  display: block;
  margin-right: 91px;
  margin-left: 10px;
}
button{
  background-color: darkgreen;
  color:white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 5px;
  padding: 10px 60px;
  margin-left: 20px;
  border:0; 
}
button:hover{
  background-color:rgb(89, 172, 89);
}

.para{
   padding-top: 2px;
   font-family: 'Fraunces', serif; 
}
.para1{
   margin-left: 15px; 
   display:inline-flex; 
} 
.para2{
  margin-top: 35px; 
  text-decoration: line-through;
}